<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instruments</title>
    <link th:href="@{/styles/instruments.css}" rel="stylesheet" />
</head>
<body>
<h1>Instruments</h1>
<a href="instruments/add" class="link-button">Add a new Instruments</a>
<a href="/" class="link-button">Go Back</a>
<br>

<div th:if="${#lists.isEmpty(instruments)}">
    <p>No Instruments available. Please add some Instruments</p>
</div>

<ul th:if="${!#lists.isEmpty(instruments)}">
    <li th:each="instrument: ${instruments}">
        <div class="instrument-item">
            <span th:text="${instrument.name} + '   -   ' + ${instrument.type}"></span>
            <img th:src="${instrument.photo}" th:alt="'Photo: ' + ${instrument.name}">
            <span th:text="'Brand: ' + ${instrument.brand}"></span>
            <span th:text="'Price: $' + ${instrument.price}"></span>
            <br>
            <a th:href="@{instruments/{instrumentId}/update(instrumentId=${instrument.id})}" class="link-button">Update</a>
            <a th:href="@{/instruments/{instrumentId}/delete(instrumentId=${instrument.id})}" class="link-button">Delete</a>
        </div>
    </li>
</ul>

</body>
</html>