<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instruments</title>
    <link th:href="@{/styles/songs.css}" rel="stylesheet" />
</head>
<body>
<h1>Instruments</h1>
<a href="instruments/addInstrument" class="link-button">Add a new Instruments</a>

<div th:if="${#lists.isEmpty(instruments)}">
    <p>No Instruments available. Please add some Instruments</p>
</div>

<ul th:if="${!#lists.isEmpty(instruments)}">
    <li th:each="instrument: ${instruments}">
        <div class="instrument-item">
            <span th:text="${instrument.name} + ' - ' + ${instrument.type}"></span>
            <img th:src="${instrument.photo}" th:alt="${instrument.name}">
            <span th:text="${instrument.brand}"></span>
            <span th:text="'$' + ${instrument.price}"></span>
            <a href="instruments/updateInstrument" class="link-button">Update</a>
            <a href="instruments/deleteInstrument" class="link-button">Delete</a>
        </div>
    </li>

</ul>

</body>
</html>