<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>

    <link th:href="@{/styles/songs.css}" rel="stylesheet" />

</head>
<body>

<h1>Songs</h1>

<a href="/songs/add" class="link-button">Add a new song</a>
<a href="/" class="link-button">Go Back</a>
<br>
<!-- Check if songs list is empty -->
<div th:if="${#lists.isEmpty(songs)}">
    <p>No songs available. Please add some songs.</p>
</div>

<!-- Display songs list when it's not empty -->
<ul th:if="${!#lists.isEmpty(songs)}">
    <li th:each="song : ${songs}">
        <div class="song-item">
            <span th:text="${song.title} + ' - ' + ${song.artist}"></span>
            <img th:src="${song.albumCover}" th:alt="'Portada: ' + ${song.title}" width="100" height="100"/>
            <span th:text="${song.album} + ' - ' + ${song.year}"></span>
            <span th:text="${song.duration}"></span>
            <br>
            <a th:href="@{songs/{songId}/update(songId=${song.id})}" class="link-button">Update</a>
            <a th:href="@{songs/{songId}/delete(songId=${song.id})}" class="link-button">Delete</a>
        </div>
    </li>
</ul>
</body>
</html>