<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>

    <link th:href="@{/styles/songs.css}" rel="stylesheet" />

</head>
<body>

<h1>Songs</h1>

<a href="/instruments" class="link-button">Enter Instrument Section</a>
<a href="/songs/addSong" class="link-button">Add a new song</a>

<!-- Check if songs list is empty -->
<div th:if="${#lists.isEmpty(songs)}">
    <p>No songs available. Please add some songs.</p>
</div>

<!-- Display songs list when it's not empty -->
<ul th:if="${!#lists.isEmpty(songs)}">
    <li th:each="song : ${songs}">
        <div class="song-item">
            <span th:text="${song.title} + ' - ' + ${song.artist}"></span>
            <img th:src="${song.albumCover}" alt="Portada de Album" width="100" height="100"/>
            <spa th:text="${song.album} + ' - ' + ${song.year}"></spa>
            <spa th:text="${song.duration}"></spa>
            <a href="songs/updateSong" class="link-button">Update</a>
            <a href="songs/deleteSong" class="link-button">Delete</a>
        </div>
    </li>
</ul>
</body>
</html>