<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Instrument</title>
</head>
<body>
<h2>Update Instrument</h2>
<form class="add-instrument-form" th:action="@{/instruments}" th:object="${createInstrumentDto}" method="post">
  <label>
    Name:
    <input type="text"/>
  </label>
  <br>
  <label>
    Type:
    <input type="text">
  </label>
  <br>
  <label>
    Brand:
    <input type="text">
  </label>
  <br>
  <label>
    Price:
    <input type="text">
  </label>
  <br>
  <label>
    Photo:
    <input type="text">
  </label>
  <br>
  <button class="submit-button" type="submit">
    Submit
  </button>
</form>

</body>
</html>